* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 48, 215, 0.2);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(back-image.png);
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(196, 48, 215, 0.2);
  border-radius: 7px;
}
.log {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
.login-btn {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  font-weight: 400;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  transition: 0.5s;
}
.content {
  margin-top: 10%;
  max-width: 600px;
}
.content h1 {
  font-size: 70px;
  color: #222;
}
.content p {
  margin: 10px 0 30px;
  color: #333;
  animation-delay: 0.5s;
}
.content .btn {
  padding: 15px 80px;
  font-size: 16px;
  animation-delay: 1s;
}
.btn:hover {
  border-top-right-radius: 30px;
}
.feature-img {
  width: 420px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.feature-img.anim {
  animation-delay: 1.5s;
}
.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
  background-color: rgb(196, 48, 215, 0.2);
}
#features > div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#features > div img {
  width: 90%;
  height: 70%;
  background-color: #c430d7;
}
#features > div button {
  width: 100px;
  height: 30px;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.3s ease;
}
#features > div button:hover {
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
#gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 200px;
  background-color: rgb(196, 48, 215, 0.2);
}
#gallery > div {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  transition: 0.8s ease;
}
#gallery > div img {
  width: 90%;
  height: 70%;
  background-color: #c430d7;
}
#gallery > div h3 {
  width: 100px;
  height: 30px;
  background-color: #c430d7;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
}
#gallery > div:hover {
  width: 600px;
}

#newsltter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 200px;
  align-items: center;
  gap: 50px;
  background-color: rgb(196, 48, 215, 0.45);
}
#newsltter h1 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 2px;
}
#newsltter div {
  width: 100%;
  display: flex;
  align-items: center;
}
#newsltter div input {
  flex-grow: 1;
  height: 50px;
  border: 1px solid #c430d7;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 25px;
}
#newsltter div input:focus {
  outline: none;
}
#newsltter div button {
  width: 150px;
  height: 50px;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  border: 1px solid #c430d7;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
  background-color: rgb(196, 48, 215, 0.5);
}
.f-logo {
  width: 70px;
  height: 30px;
  background-color: #c430d7;
  border-radius: 25px;
}
.s-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.s-media img {
  width: 30px;
  height: 30px;
  background-color: #df4881;
  border-radius: 7px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #c430d7;
  font-size: 20px;
}
.footer {
  width: 300px;
  text-align: center;
  height: 50px;
  background-color: rgb(196, 48, 215, 0.5);
  width: 100%;
  line-height: 50px;
}
.footer span {
  color: #c430d7;
}
